# **Topic 4. 표준 모듈 활용_실습**

**1) 현재 작업 디렉토리에 포함된 디렉토리와 파일 목록을 오름차순 정렬해서 확인하세요.**

[결과 예시] 결과 예시와 다를 수 있음

~~~
L3_T1_기본 함수 만들기_실습.ipynb
L3_T2_고급 함수 만들기_실습.ipynb
L3_T3_주요 내장 함수_실습.ipynb
L3_T4_표준 모듈 활용_실습.ipynb
L3_함수와 모듈_예제.ipynb
L3_함수와 모듈_종합실습.ipynb
~~~

In [ ]:
import os
directory_path = os. ()
file_list = os. (directory_path)
file_list. ()
for file in file_list:
    print(file)

**2) 현재 날짜와 시간을 YYYY년 MM월 DD일 HH시 MM분 SS초 형태로 확인하세요.**

[결과 예시] 실행 시간이 달라 결과 예시와 다름

~~~
2023년 10월 13일 10시 25분 13초
~~~

In [ ]:
import time
current_time = time. ()
current_time = time. ('%Y년 %m월 %d일 %H시 %M분 %S초', current_time)
print(current_time)

**3) 다음 요구에 따라 두 변수 num1, num2를 선언하고 두 변수 값과 두 변수 곱을 확인하세요.**

- num1: 100 ~ 200 사이의 정수 난수
- num2: 1 ~ 10 사이의 정수 난수

[결과 예시] 난수이므로 결과 예시와 다름

~~~
num1 = 140
num2 = 9
num1 * num2 = 1260
~~~

In [ ]:
import random
num1 = random. (100, 200)
num2 = random. (1, 10)
print('num1 =', num1)
print('num2 =', num2)
print('num1 * num2 =', num1 * num2)

**4) 변수 num에 대해 올림한 값과 내림한 값을 a, b로 각각 선언한 후 확인하세요.**

[결과 예시]

~~~
올림: 424
내림: 423
~~~

In [ ]:
import math
num = 423.56
a = math. (num)
b = math. (num)
print('올림:', a)
print('내림:', b)

**5) 현재 년월의 달력을 출력하세요.**

- 단, 일요일부터 시작하게 하세요.

[결과 예시] 2023년 10월의 경우

~~~
    October 2023
Su Mo Tu We Th Fr Sa
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31
~~~

In [ ]:
import calendar
year, month = 2023, 10
cal = calendar. (calendar.SUNDAY)
cal_text = cal. (year, month)
print(cal_text)